{{#if session.isAuthenticated}}
    {{session}} | {{session.content.secure.access_token}} | {{currentUser}}
    <br />
    <a {{ action 'logout' }}>Logout</a>
{{else}}
  <button id="clear-completed" class="btn btn-primary btn-lg btn-block" {{action "loginFacebook"}}>
      Login with facebook
  </button>
{{/if}}
