{{google-map allCountries=allCountries countries=model.countries countriesNeeded=countriesNeeded}}

<div id="legend">
    <h3>{{model.countries.length}} countries visited</h3>
    <ul>
      {{#each allCountries as |country|}}
          <li>
            {{#if (in-array country model.countries)}}
                <a {{action 'removeCountry' country href=true}}>
                    <span class="spaced icon-globe"></span>
                    <span class="name">{{country.name}}</span>
                </a>
            {{else}}
                <a {{action 'addCountry' country href=true}}>
                    <span class="spaced icon icon-question"></span>
                    <span class="name">{{country.name}}</span>
                </a>
            {{/if}}
          </li>
      {{/each}}
    </ul>
</div>

